* {
    margin: 0;
}

nav {
    background-color: black;
    padding: 1rem;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li {
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1rem;
}

.container {
    width: 100%;
}

.container-img img {
    height: 5rem;
}

.slide-img {
    width: 100%;
}

.modal {
    display: hidden;
}