* {
    margin: 0;
}

nav {
    background-color: black;
    padding: 1rem;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li {
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
}