* {
    margin: 0;
    box-sizing: border-box;
}

nav {
    background-color: black;
    padding: 1rem;
    position: sticky;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li {
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1rem;
}

.container {
  position: relative;
}

.mySlides {
  display: none;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.mySlides img {
    width: 25rem;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.column {
  float: left;
  width: 14.5%;
}

.column img {
    height: 7rem;
}

.row {
    display: flex;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
