* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
  padding: 1.5rem;
  width: 100%;
  background-color: black;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav li {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.navbar-item a {
  color: white;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 2rem;
  font-size: 1.75rem;
}

.portfolio-container {
  display: flex;
}

img {
  width: 25%;
}

.main-text {
  display: flex;
  font-size: 1.25rem;
  padding: 0.5rem;
}

.prints {
  display: block;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  background: black;
  padding: 0.25rem;
  width: 10%;
}

.main-img-container {
  display: flex;
  justify-content: space-around;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-links {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.fa {
  padding: 1rem;
  font-size: 1.5rem;
  width: 2rem;
  text-align: center;
  text-decoration: none;
  margin: .25rem;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-instagram {
  background: black;
  color: white;
  padding: 1.5rem;
}

.fa-tumblr {
  background: black;
  color: white;
  padding: 1.5rem;
}

.portfolio-heading {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.portrait-photography {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.street-photography {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.landscape-photography {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin-bottom: 1rem;
}