* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
  display: flex;
  padding: 3rem;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  width: 100%;
}

nav ul {
  width: 100%;
  display: flex;
  background-color: black;
  list-style-type: none;
}

.navbar-item a {
  color: white;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 2rem;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #EDF7FF;
}

.card-list .card-item {
  user-select: none;
  display: block;
  background: #fff;
  padding: 18px;
  border-radius: 12px;
  list-style: none;
}

.card-list .card-image {
  width: 100%;
  aspect-ratio: 18 / 12;
  object-fit: contain;
}

.card-caption {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.25rem;
  padding-top: 0.5rem;
}